@tailwind base;

@tailwind components;

@tailwind utilities;

body {
    /* background-color:rgb(250, 248, 242); */
    font-family: calluna, serif;
    font-family: plantin, sans-serif;

    font-size:16px;
}

.font-sans {
}